<p>Orders liste</p>
<div *ngIf="orders">
  <app-table-light [headers]="tabHeaders">
    <tr tbody *ngFor="let o of orders">
      <td>{{ o.id }}</td>
      <td>{{ o.tjmHT }}</td>
      <td [appColorDay]="o.nbJours">{{ o.nbJours | days }}</td>
      <td>{{ o.tva }}</td>
      <!-- <td>{{ o.totalHT() | currency }}</td>
      <td>{{ o.totalTTC() | currency: 'EUR' }}</td> -->
      <td>{{ o | total | currency: 'EUR'}} </td>
      <td>{{ o | total: 'TTC' | currency: 'EUR'}} </td>
      <!-- <td [appColorState]="o.state">{{ o.state }}</td> -->

      <td [appColorState]="o.state">
        <select (change)="changeState(o, $event)">
          <option *ngFor="let s of states" [value]="s" [selected]="s === o.state">
            {{ s }}
          </option>
        </select>
      </td>



      <td>
        <app-btn [btn]="getButton(o.id!, 1)!">
          <fa-icon ico [icon]="getButton(o.id!, 1)!.icon!"></fa-icon>
        </app-btn>
        <app-btn [btn]="getButton(o.id!, 2)!">
          <fa-icon ico [icon]="getButton(o.id!, 2)!.icon!"></fa-icon>
        </app-btn>
        <app-btn [btn]="getButton(o.id!, 3)!" (clicked)="remove(o.id!)">
          <fa-icon ico3 [icon]="getButton(o.id!, 3)!.icon!"></fa-icon>
        </app-btn>
      </td>
    </tr>
  </app-table-light>
  <app-btn [btn]="btnAdd"></app-btn>
</div>

