<div class="container">
  <form [formGroup]="form">

    <div class="form-group">
      <label for="typePresta">Type</label>
      <input formControlName="typePresta" type="text" class="form-control" id="typePresta">
      <div *ngIf="form.get('typePresta')?.invalid && form.get('typePresta')?.errors" class="alert alert-danger">Champs requis</div>
    </div>

    <div class="form-group">
      <label for="client">Client</label>
      <input formControlName="client" type="text" class="form-control" id="client">
      <!-- <div *ngIf="form.get('client')?.invalid && form.get('client')?.touched" class="alert alert-danger">Error</div> -->
      <div *ngIf="form.get('client')?.touched && form.get('client')?.hasError('required')" class="alert alert-danger">Champs requis</div>
      <div *ngIf="form.get('client')?.touched && form.get('client')?.hasError('minlength')" class="alert alert-danger">Minimum 5 characters</div>
    </div>

    <div class="form-group">
      <label for="nbJours">Nombre jours</label>
      <input formControlName="nbJours" type="number" class="form-control" id="nbJours">
    </div>

    <div class="form-group">
      <label for="tjmHT">TJM</label>
      <input formControlName="tjmHT" type="number" class="form-control" id="tjmHT">
    </div>

    <div class="form-group">
      <label for="tva">TVA</label>
      <input formControlName="tva" type="number" class="form-control" id="tva">
    </div>

    <div class="form-group">
      <label for="state">Etat</label>
      <select formControlName="state" class="form-control" id="state">
        <option *ngFor="let s of states" [ngValue]="s">{{ s }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="comment">Commentaire</label>
      <textarea formControlName="comment" class="form-control" id="comment"></textarea>
    </div>

    <app-btn *ngIf="form.valid" [btn]="btnSave" (clicked)="save()"></app-btn>

  </form>
</div>
